body {
    
    text-align: center;

    margin: 0px;
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: Garamond, serif;
    font-size: 20px;
  }

  .back-ground-wrapper{
    color: rgba(0, 0, 0, 0.137);
    padding: 10px;
  }

  .User{
    font-family: Garamond, serif;
  }
  #id-img{
    transition: transform .7s ease-in-out;
    width: 100px;
    height: 100px;
  }
  #id-img:hover {
    transform: rotate(360deg) scale(1.5);
    
  }